{{ define "content" }}
    <div class="body">
        <div class="search">
            <form action="/api/search" method="GET">
                <label for="search-input">Search</label>
                <div class="input-button-group">
                    <input type="text" id="search-input" name="q" placeholder="Search..." value="{{.Query}}">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="weather">
            <form action="/api/weather" method="GET">
                <label for="city-input">City</label>
                <div class="input-button-group">
                    <input type="text" id="city-input" name="city" placeholder="Copenhagen" required>
                    <button type="submit">Check</button>
                </div>
            </form>
        </div>
    </div>
{{ end }}