<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }} - ¿Go Search?</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/register.css">
    </head>

<body>
    <div class="page">
        <nav class="navigation" role="navigation" aria-label="Main navigation">
            <a id="nav-home" href="/" class="home-button">Home</a>

            <div class="nav-title">
                <h1><a id="nav-logo" href="/">Go Search!</a></h1>
            </div>
            <div class="nav-buttons">
            {{ if .UserLoggedIn }}
                <a id="nav-logout" href="/api/logout" class="home-button">Log out</a>
            {{ else }}
                <a id="nav-login" href="/login" class="home-button">Log in</a>
                <a id="nav-register" href="/register" class="home-button">Register</a>
            {{ end }}
            </div>
        </nav>

        <main role="main">
            {{ template "content" . }}
        </main>

        <footer role="contentinfo">
            <span>Go Search! &copy; 2026</span>
            <a href="/about">About</a>
        </footer>
    </div>

</body>
</html>